In [2]:
import pandas as pd
import numpy as np

In [3]:
df_a = pd.read_csv("epoch2.csv")
df_b = pd.read_csv("epoch3.csv")

In [4]:
pred_mix= np.zeros(12500)
for i,a,b in zip(df_a['id'],df_a['label'],df_b['label']):
    if a>=0.5 and b>=0.5:
        pred_mix[i-1]=np.max((a,b)) 
    elif a<0.5 and b<0.5:
        pred_mix[i-1]=np.min((a,b))
    else:
        pred_mix[i-1]=np.mean((a,b))
    df_a.set_value(i-1,'label',pred_mix[i-1])

df_a.to_csv('pred_mix.csv',index=None)
df_a.head(10)

   id  label
0   1  0.995
1   2  0.995
2   3  0.995
3   4  0.995
4   5  0.005
5   6  0.005
6   7  0.005
7   8  0.005
8   9  0.005
9  10  0.005